@charset "UTF-8";

body{
    background-color: #aad6b7;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#305A3C ;
}

h1#principal{
    text-align: center;
    background-color:#305A3C ;
    color: white;

}


h2{
    color:#549E69;
}

.basico{
    color:#549E69;
}

.intermediario{
    color:#9e9d54;
}

.avançado{
    color:#9e5454;
}